.grades::-webkit-scrollbar {
  width: 0;
  height: 0;
}
.news-text a {
  color: #0072b2 !important;
  -webkit-tap-highlight-color: rgba(0, 114, 178, 0.6);
}

.news-files a {
  -webkit-tap-highlight-color: rgba(0, 114, 178, 0.2);
}

.news-text a:hover {
  text-decoration: none;
  color: #333333 !important;
  transition-property: var(--kirillsaint-transition-property-common);
  transition-duration: var(--kirillsaint-transition-duration-fast);
  transition-timing-function: var(--kirillsaint-transition-easing-ease-out);
}

.news-text ol {
  margin-left: 15px;
}

.homework a {
  color: #aaaaaa;
  -webkit-tap-highlight-color: rgba(170, 170, 170, 0.6);
}

.homework a:hover {
  color: #333333;
  transition-property: var(--kirillsaint-transition-property-common);
  transition-duration: var(--kirillsaint-transition-duration-fast);
  transition-timing-function: var(--kirillsaint-transition-easing-ease-out);
}

a {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

button {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.header {
  transition: top 0.3s;
}

input:-internal-autofill-selected {
  background-color: -internal-light-dark(
    rgb(232, 240, 254),
    rgba(56, 56, 56, 0.4)
  ) !important;
}
